  body {
      background-color: #0f172a !important;
      min-height: 100vh !important;



  }

  .a-body {
      background: linear-gradient(135deg, #e0f2fe 0%, #cbebff 100%);
      transition: all 0.4s ease !important;
  }

  h1 {
      color: white !important;
      text-align: center;
      padding-top: 40px;
  }

  .h1-br {
      color: rgb(0, 0, 0) !important;
      text-align: center;
  }

  .lazer {
      border: 1px solid rgba(59, 130, 246, 0.25) !important;
      width: 22% !important;
      height: 280px !important;
      background: #0f172a !important;

      box-shadow: 0 0 20px rgba(59, 130, 246, 0.3) !important;
      box-shadow: 0 8 10px rgba(22, 22, 22, 0.9) !important;
      border-radius: 10px !important;
      margin-top: 7% !important;
      margin-left: 9% !important;
  }

  .lazer-br {
      border: 1px solid rgba(0, 91, 238, 0.696) !important;
      width: 22% !important;
      height: 280px !important;
      background: #aabce6 !important;

      box-shadow: 0 0 20px rgba(0, 91, 238, 0.467) !important;
      box-shadow: 0 8 10px rgba(22, 22, 22, 0.9) !important;
      border-radius: 10px !important;
      margin-top: 7% !important;
      margin-left: 9% !important;
  }

  .row {
      max-width: 100% !important;

  }

  .cor {

      color: white !important;
  }

  .cor-br {

      color: rgb(0, 0, 0) !important;
  }

  .linha {
      background-color: #3b82f6 !important;
      border-radius: 50px !important;
      width: 5px !important;
      height: 20px !important;
  }

  .linha-br {
      background-color: #113c81 !important;
      border-radius: 50px !important;
      width: 5px !important;
      height: 20px !important;
  }

  .a:hover {
      transform: translateY(-18px);
      transition: all 0.9s;
  }

  .estudos {
      border: 1px solid rgba(59, 130, 246, 0.25) !important;
      width: 26.5% !important;
      height: 280px !important;
      background: #0f172a !important;

      box-shadow: 0 0 20px rgba(59, 130, 246, 0.3) !important;
      box-shadow: 0 8 10px rgba(22, 22, 22, 0.9) !important;
      border-radius: 10px !important;
      margin-top: 7% !important;
      margin-left: 5% !important;
  }

  .estudos-br {
      border: 1px solid rgba(0, 91, 238, 0.696) !important;
      width: 26.5% !important;
      height: 280px !important;
      background: #aabce6 !important;

      box-shadow: 0 0 20px rgba(0, 91, 238, 0.467) !important;
      box-shadow: 0 8 10px rgba(22, 22, 22, 0.9) !important;
      border-radius: 10px !important;
      margin-top: 7% !important;
      margin-left: 5% !important;
  }

  .habilidade {
      border: 1px solid rgba(59, 130, 246, 0.25) !important;
      width: 26.5% !important;
      height: 280px !important;
      background: #0f172a !important;

      box-shadow: 0 0 20px rgba(59, 130, 246, 0.3) !important;
      box-shadow: 0 8 10px rgba(22, 22, 22, 0.9) !important;
      border-radius: 10px !important;
      margin-top: 7% !important;
      margin-left: 5% !important;
  }

  .habilidade-br {
      border: 1px solid rgba(0, 91, 238, 0.696) !important;
      width: 26.5% !important;
      height: 280px !important;
      background: #aabce6 !important;

      box-shadow: 0 0 20px rgba(0, 91, 238, 0.467) !important;
      box-shadow: 0 8 10px rgba(22, 22, 22, 0.9) !important;
      border-radius: 10px !important;
      margin-top: 7% !important;
      margin-left: 5% !important;
  }

  .a-br {
      color: #003ace;
  }


  .bolaa {
      background-color: #3b82f6 !important;
      border-radius: 50px !important;
      width: 50px !important;
      height: 50px !important;
  }

  .bolaa-br {
      background-color: #e5efff !important;
      border-radius: 50px !important;
      width: 50px !important;
      height: 50px !important;
  }

  .bola {
      margin-left: 48px !important;


  }

  .bola-ani {
      transition: all 0.4s;
  }

  .bola-br {
      margin-right: 46px !important;


  }

  .bola-ani-br {
      transition: all 0.4s;
  }

  .bola-teste {
      margin-left: 2px !important;
  }

  .close {
      color: #ffffff !important;
      opacity: 0.9 !important;

  }

  .quadro {
      background-color: #1e293b !important;
      width: 100px !important;
      height: 50px !important;


      border-radius: 50px !important;
      transition: all 0.4s;
      cursor: pointer !important;
      margin-top: 80px !important;

  }

  .quadro-br {
      background-color: #60a5fa !important;
      width: 100px !important;
      height: 50px !important;

      margin-top: 30px !important;
      border-radius: 50px !important;
      transition: all 0.4s;
      cursor: pointer !important;
      margin-top: 80px !important;

  }

  .header {
      background-color: #0d1422 !important;

      border-radius: 10px !important;
  }

  .header-br {
      background: #88a3e8 !important;
      border-radius: 10px !important;
  }

  .botoes {
      display: flex;
      justify-content: center;
      margin-right: 40%
  }

  .voltar {
      padding: 12px 24px !important;
      margin-top: 80px !important;
      margin-right: 42% !important;
      border-radius: 5px !important;
      background-color: #3b82f6 !important;
      color: white !important;
  }

  a {
      text-decoration: none !important;
  }

  .voltar-br {
      padding: 12px 24px !important;
      margin-top: 80px !important;
      margin-right: 42% !important;
      border-radius: 5px !important;
      background-color: #3b82f6 !important;
      color: rgb(0, 0, 0) !important;
  }




  .modal-body-a {

      color: #0d1422 !important;
      background-color: #0f172a !important;
  }

    .modal-body-br {

      color: #ff0000 !important; background: #aabce6 !important;
  }

  .modal-header-a {
      background-color: #0d1422 !important;
      border: #0d1422 !important;
  }
  
  .modal-header-br {
       background-color:  #88a3e8 !important;
      border: #60a5fa !important;
      color: black !important;
  }
  
  .modal-content-a{
    background-color: #0d1422 !important; color: white !important;
  }


  .modal-content-br{
    background-color:  #88a3e8 !important; color: white !important;
  }


  .modal-footer-a {
      border: #0d1422 !important;
  }



    
  .modal-footer-a-br {
      border: #ff0000 !important;
  }

