 body {
      background-color: #0f172a !important;
      min-height: 100vh !important;

    }

    .a-body {
      background: linear-gradient(135deg, #e0f2fe 0%, #cbebff 100%);
      transition: all 0.4s ease !important;
    }


    h1 {
      text-align: center;
      color: white;
      margin-top: 1% !important;
    }

    .h1-br {
      margin-top: 1% !important;
      text-align: center;
      color: #1e293b;
    }

    .isaq:hover,
    .luan:hover {
      transition: all 0.6s ease-in-out;
      transform: translateY(-10px);
      cursor: pointer;

    }

    .isaq-text,
    .luan-text {
      color: #ffffff;
    }

    .isaq-text-br,
    .luan-text-br {
      color: #171717;
    }





    .principal {
      border: 1px solid rgba(59, 130, 246, 0.25) !important;
      width: 40% !important;
      height: 520px !important;
      background: #0f172a !important;
      margin-left: auto !important;
      margin-right: auto !important;
      box-shadow: 0 0 20px rgba(59, 130, 246, 0.3) !important;
      box-shadow: 0 8 10px rgba(22, 22, 22, 0.9) !important;
      border-radius: 10px !important;
      margin-top: 20px !important;
    }

    .principal-br {
      border: 1px solid rgb(113, 142, 255) !important;
      width: 40% !important;
      height: 520px !important;
      background: rgba(255, 255, 255, 0.65) !important;
      margin-left: auto !important;
      margin-right: auto !important;
      box-shadow: 0 0 20px rgb(113, 142, 246) !important;
      box-shadow: 0 4 10px rgb(0, 12, 36) !important;
      border-radius: 10px !important;
      margin-top: 20px !important;

    }

    .isaq {
      margin-top: 10px !important;



    }

    .luan {
      margin-top: 30px !important;


    }

    .quadro {
      background-color: #1e293b !important;
      width: 100px !important;
      height: 50px !important;
      margin-left: auto !important;
      margin-right: auto !important;
      margin-top: 30px !important;
      border-radius: 50px !important;
      transition: all 0.4s;
      cursor: pointer !important;

    }

    .quadro-br {
      background-color: #60a5fa !important;
      width: 100px !important;
      height: 50px !important;
      margin-left: auto !important;
      margin-right: auto !important;
      margin-top: 30px !important;
      border-radius: 50px !important;
      transition: all 0.4s;
      cursor: pointer !important;

    }

        .bola {
            margin-left: 48px !important;
            

        }
     .bola-ani{
 transition: all 0.4s;
        }

        .bola-br {
            margin-right: 46px !important;
           

        }
        .bola-ani-br{
 transition: all 0.4s;
        }

    .bola-teste {
      margin-left: 2px !important;
    }



    .estilo {
      border: 1px solid #6f7b8e !important;
      background: #1e293b !important;
      border-radius: 5px !important;
      width: 80% !important;
      height: 190px !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }

    .estilo-br {
      border: 1px solid #99a0a8 !important;
     background: #aabce6 !important;
      border-radius: 5px !important;
      width: 80% !important;
      height: 190px !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }


    .selecione {
      color: #ffffff !important;
      margin-left: 35% !important;
      margin-top: 10px !important;
    }

    .selecione-br {
      color: #1e293b !important;
      margin-left: 35% !important;
      margin-top: 10px !important;
    }

    .bolaa {
      background-color: #3b82f6 !important;
      border-radius: 50px !important;
      width: 50px !important;
      height: 50px !important;
    }

    .bolaa-br {
      background-color: #e5efff !important;
      border-radius: 50px !important;
      width: 50px !important;
      height: 50px !important;
    }
    a:hover{
outline: none !important;
text-decoration: none !important;
    }